<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <main>
        <div class="container">

            {{!-- form --}}
            <form class="getWeatherForm">
                <div class="form-input">
                    <input type="text" placeholder="Type the name of a location or a city" required />
                </div>
                <button class="btn" type="submit">Submit</button>
            </form>

            <h2 class="heading2"></h2>

            {{!-- result --}}
            <div class="result">

                {{!-- <div class="resultCard">
                    <div class="resultCardHeader">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="resultCardBody">
                        <p>Humidity: </p>
                        <p>Feels Like: </p>
                        <p>Wind Speed: </p>
                        <p>Wind Gust: </p>
                        <p></p>
                    </div>
                </div> --}}

            </div>
        </div>
    </main>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>